/* Color palette */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300i");
@import url("https://github.com/twbs/bootstrap-sass");
.texteCourant, .lorem, #textePhoto2, #texteBloc1, #texteBloc2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #222a30;
  padding-right: 30px;
  padding-left: 30px; }

.lien {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: #a65447; }

.loremItalique {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 1.71;
  color: #465763; }

/*
.clearfix:after{
  content:"";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
*/
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.32;
  color: #34414a; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  padding-left: 30px;
  font-style: bold;
  color: #ebebeb; }

h4 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  color: #34414a; }

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  color: #34414a; }

.Partageons-la-ville {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: rgba(70, 87, 99, 0.85); }

.lorem {
  line-height: 1.5;
  text-align: left; }

#content {
  width: 1400px;
  height: 3317px;
  background-color: #fafafa; }

#header #identite {
  margin-top: 32px; }

#block1 {
  padding-bottom: 15px; }

#block2 {
  margin-top: 61px; }

#block3 {
  margin-top: 41px; }

#li {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #34414a;
  list-style: none; }

#header #nav ul {
  float: left;
  list-style: none; }

#header #nav li {
  margin-right: 40px;
  display: inline-block; }

#header #nav-bis ul {
  display: inline-block;
  list-style: none; }

#header #nav-bis li {
  float: right;
  padding-right: 40px; }

html,
body,
ul,
ol,
p {
  margin: 0;
  padding: 0; }

#footer {
  width: 1280px;
  height: 308px;
  background-color: #34414a;
  bottom: 0; }

#photo1 {
  display: inline-block;
  float: left; }

#textePhoto1 {
  display: inline-block; }

#block5 {
  display: inline-block;
  text-align: center; }

#Recherche {
  height: 167px;
  background-color: #a65447;
  text-align: center; }

#rechercheTitre {
  padding-top: 10px; }

#recherche-avance {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  text-align: left;
  padding-top: 10px;
  color: #fafafa; }

.col-lg-5 {
  background-color: #ebebeb; }

#photo2 {
  max-width: 248px; }

#lireSuite {
  display: inline-block;
  text-align: left;
  position: fixed; }

#decActus {
  display: inline-block; }

#photoBloc1 {
  display: inline-block;
  float: left;
  text-align: left;
  width: 375px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px; }

#texteBloc1 {
  display: inline-block;
  max-width: 355px;
  line-height: 1.5; }

#Bloc2 {
  display: inline-block;
  padding-right: 30px;
  float: right; }

#Bloc3 {
  display: inline-block; }

#Bloc4 {
  display: inline-block;
  padding-right: 30px;
  float: right; }

#Bloc5 {
  display: inline-block; }

#photoBloc2 {
  width: 355px; }

#texteBloc2 {
  max-width: 355px;
  line-height: 1.5;
  background-color: #ffffff; }

/*# sourceMappingURL=style.css.map */
