
#footer {
  //width: 1280px;
  height: 308px;
  background-color: $charcoal-grey;
  //position:absolute;
  //bottom:0px;
  #block10{
  font-family: $open-sans;
  font-size: 14px;
  color: $white-three;
  margin-top:30px;
  ul{
    margin-top:34px;
    list-style:none;
    line-height: 3em;
    text-align: center;
    }
  li{
    a, a:visited {
      color: $white-three;
      }
    a:hover, a:focus, a:active {
      color: $dark;
      }
    }
  }
  #block11{
  font-family: $montserrat;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: $white-three;
  margin-left:56px;
  margin-top:65px;
  background-color: $charcoal-grey;
  }
  #block12{
  font-family: $open-sans;
  font-size: 16px;
  text-align: center;
  color: $white-three;
  margin-top:30px;
  //margin-bottom: 30px;
  ul{
    list-style:none;
    line-height: 4em;
    li{
      border: solid 2px $white-three;
      margin:20px;
      a, a:visited {
        color: $white-three;
        }
      a:hover, a:focus, a:active {
        color: $dark;
        }
      }
    }
  }

}
