//$margin-left:60px;
//$margin-right:60px;

            // <!-- Block 4 -->
//#block4{
//display: inline-block;
//margin-right:$margin-right;
//}


#photo1{
display: inline-block;
float:left;
//max-width:50%;
//object-fit: contain;
//max-width:85%;
}

#textePhoto1{
  display: inline-block;
//width : 40%;
//margin-left:-100px;
}

              // <!-- Block 5 -->
#block5{
  display: inline-block;
              //margin-right:$margin-right;
  text-align:center;
}

#Recherche {
  //width: 1280px;
  height: 167px;
  background-color: $earth;
  text-align:center;
}

#rechercheTitre {
  padding-top: 10px;
}

#recherche-avance {
  font-family:$open-sans;
  font-size: 10px;
  text-align:left;
  padding-top: 10px;
  color: $white-three;
}

                  // <!-- Block 6 -->
.col-lg-5 {
  background-color: $white-two;
  //padding-left:60px;
}

#photo2 {
  max-width: 248px;
  //margin-bottom:100px;
//padding-right:30px;
  //float:left;
}

#textePhoto2{
  @extend .texteCourant;
}

#lireSuite{
  display: inline-block;
  text-align:left;
  position:fixed;
}

#decActus{
  display: inline-block;
  //text-align:right;
}

                  // <!-- Block 7 -->
#photoBloc1{
  display: inline-block;
  float:left;
  text-align:left;
  width: 375px;
  padding-right:30px;
  padding-top:30px;
  padding-bottom: 30px;
  //width: 407px;
  //height: 350px;
}
#texteBloc1{
  @extend .texteCourant;
  display: inline-block;
  max-width: 355px;
  line-height: 1.5;
}

#Bloc2{
  display: inline-block;
  padding-right:30px;
  float:right;
}
#Bloc3{
  display: inline-block;
}
#Bloc4{
  display: inline-block;
  padding-right:30px;
  float:right;
}
#Bloc5{
  display: inline-block;
}


#photoBloc2{
  width: 355px;
}
#texteBloc2{
  @extend .texteCourant;
  max-width: 355px;
  line-height: 1.5;
  background-color: $backgroundBlock7;
}
