@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300i');

$open-sans:'Open Sans', sans-serif;
$montserrat:'Montserrat',sans-serif;


.texteCourant{
  font-family:$open-sans;
  font-size: 16px;
  color: $dark;
  //padding-right: 30px;
  //padding-left: 30px;
}

.lien{
  font-family: $open-sans;
  font-size: 14px;
  line-height: 1.71;
  //text-align: left;
  color: $earth;
  a, a:visited {
    color: $earth;
}
  a:hover, a:focus, a:active {
    color: $dark;
}
}

.lorem{
  @extend .texteCourant;
  line-height: 1.5;
  text-align: left;
}

.loremItalique {
  font-family: $open-sans;
  font-size: 14px;
  font-style: italic;
  line-height: 1.71;
  color: #465763;
}

.Partageons-la-ville {
  font-family: $open-sans;
  font-size: 12px;
  color: rgba(70, 87, 99, 0.85);
}

/*
.clearfix:after{
  content:"";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
*/

h2 {
  //width: 468px;
  //height: 33px;
  font-family: $montserrat;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.32;
  color: $charcoal-grey;
}

h3{
  //width: 844px;
  //height: 30px;
  font-family: $montserrat;
  font-size: 25px;
  padding-left: 30px;
  //font-weight: bold;
  font-style: bold;
  //text-align: center;
  color: $white-two;
}

h4{
  font-family: $montserrat;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  color: $charcoal-grey;
}

h5{
  //width: 107px;
  //height: 21px;
  font-family:$montserrat;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  color: $charcoal-grey;
}
